{% extends 'base.html' %}
{% block title %}Create Product{% endblock title %}
{% block page_content %}
    <nav class="navbar navbar-expand-lg context-bar">
      <a class="navbar-brand" href="#">
          <i class="fa fa-shopping-basket"></i> Products
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'products:home' %}">
              <i class="fa fa-list"></i> View</a>
        </div>
      </div>
    </nav>

    {% include 'messages.html' %}

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="">Add New Product</h5>
                </div>
                <div class="card-body">
                    <form action="{% url 'products:create-product' %}" method="post">{% csrf_token %}

                        {{ form.as_p }}

                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="">10 Most Recent Products</h5>
                </div>
                <div class="card-body">
                    {% if products|length > 0 %}
                        <table class="table table-striped table-bordered table-hover table-sm">
                            <thead>
                                <th>#</th><th>Name</th><th>Sku code</th><th>Supplier</th><th>Manufacturer</th><th>Description</th>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.num }}.</td>
                                        <td>
                                            <a href="{% url 'products:product-detail' pk=product.pk %}"> {{ product.name }}</a>
                                        </td>
                                        <td>{{ product.sku_code }}</td>
                                        <td>{{ product.supplier }}</td>
                                        <td>{{ product.manufacturer }}</td>
                                        <td>{{ product.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">No products have been added yet</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>





{% endblock page_content %}