{% extends 'base.html' %}
{% block title %}Create Product{% endblock title %}
{% block page_content %}
    <nav class="navbar navbar-expand-lg context-bar">
      <a class="navbar-brand" href="#">
          <i class="fa fa-shopping-basket"></i> Products
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'products:home' %}">
              <i class="fa fa-list"></i> View</a>
        </div>
      </div>
    </nav>

    {% include 'messages.html' %}

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="">Post New Stock</h5>
                </div>
                <div class="card-body">
                    <form action="" method="post">{% csrf_token %}

                        {{ form.as_p }}

                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="">10 Most Recent Stock Posted</h5>
                </div>
                <div class="card-body">
                    {% if stock_list|length > 0 %}
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <th>Date</th><th>Name</th><th>Qty</th><th>Buying</th><th>Supplier</th>
                            </thead>
                            <tbody>
                                {% for stock in stock_list %}
                                    <tr>
                                        <td>{{ stock.posted|date:'d-m-Y' }}</td>
                                        <td>
                                            <a href="{% url 'products:product-detail' pk=stock.product.pk %}"> {{ stock.product.name }}</a>
                                        </td>
                                        <td>{{ stock.quantity }}</td>
                                        <td>{{ stock.buying_price }}</td>
                                        <td>{{ stock.received_from }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">No products have been added yet</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}