{% extends 'base.html' %}

{% block title %}Product Transfers{% endblock title %}

{% load static %}
{% block page_style %}
        <style>
            th{background-color: rgb(233, 236, 239);}
        </style>
{% endblock page_style %}
{% block page_js %}
    <script>
    $(document).ready(function () {

        $('#date_from').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
        $('#date_to' ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    });

    </script>
{% endblock page_js %}

{% block page_content %}
    <nav class="navbar navbar-expand-lg context-bar">
      <a class="navbar-brand" href="#">
          <i class="fa fa-truck"></i> Stock Transfers
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'products:transfer-products' %}">
              <i class="fa fa-plus-circle"></i> Make Transfer
          </a>
        </div>
      </div>
    </nav>
    {% include 'messages.html' %}

    <form class="form-row mb-2" method="post">{% csrf_token %}
        <div class="col">{{ form.date_from }}</div>
        <div class="col">{{ form.date_to }}</div>
        <div class="col">{{ form.transfered_from }}</div>
        <div class="col">
            <button class="btn btn-info btn-block" type="submit">Search <i class="fa fa-search"></i></button>
        </div>
        <div class="col">
            <button class="btn btn-info btn-block" type="reset">Reset <i class="fa fa-search-minus"></i></button>
        </div>
    </form>

    <div class="card ">
        <div class="card-body">
            {% if transfers_list|length > 0 %}

                <table class="table table-striped table-bordered table-hover table-condensed" id="myTable">
                    <thead>
                        <th>Date</th><th>Transfered to</th><th>From</th><th>Received</th><th>Value</th>
                    </thead>
                    <tbody>
                        {% for transfer in transfers_list %}
                            <tr>
                                <td>
                                    [<a href="{% url 'products:view-transfer-products' transfer_id=transfer.pk %}" class="text-info">
                                        Items
                                    </a>]
                                    <a href="{% url 'products:receive-transfer' transfer_id=transfer.pk %}">
                                        {{ transfer.transfer_date }}
                                    </a>
                                </td>
                                <td>
                                    <a href="">
                                        {{ transfer.transfer_to.name }}
                                    </a>
                                </td>
                                <td>{{ transfer.transfer_from.name }}</td>
                                <td>
                                    {% if transfer.received %}
                                        {{ transfer.date_received }}
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>{{ transfer.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">No stock transfers have been made yet</div>
            {% endif %}
        </div>
    </div>
{% endblock page_content %}