{% extends 'base.html' %}
{% block title %}Customers{% endblock title %}
{% block page_content %}
    <nav class="navbar navbar-expand-lg context-bar">
      <a class="navbar-brand" href="#">
          <i class="fa fa-handshake"></i> Customers
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'customers:create-customer' %}">
              <i class="fa fa-plus-circle"></i> Add New
          </a>
        </div>
      </div>
    </nav>

    {% include 'messages.html' %}

    <div class="card ">
        <div class="card-body">
            {% if customers|length > 0 %}

                <table class="table table-striped table-bordered table-hover table-condensed" id="myTable">
                    <thead>
                        <th>#</th><th>Name</th><th>Phone</th><th>Email</th>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{ customer.num }}.</td>
                                <td>
                                    <a href="{% url 'customers:update-customer' pk=customer.pk %}"> {{ customer.name }}</a>
                                </td>
                                <td>{{ customer.primary_phone }}</td>
                                <td>{{ customer.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">No customers have been added yet</div>
            {% endif %}
        </div>
    </div>


{% endblock page_content %}